<div class="container">
	<h1 class="tc">RSVP Here!</h1>

	<div ng-if="events && !events.length" class="alert alert-danger">
		<i class="fa fa-diamond"></i> We&#39;re Married!
	</div>

	<div ng-if="events && events.length">
		<div class="onecol event_list" ng-repeat="event in events | orderBy:'time.startDatetime' | filter:query" ng-class="{'danger': !event.rsvp, 'text-muted': !event.rsvp}">
			<div class="solid-bar"></div>
			<h2 class="mtm"><i class="fa fa-calendar"></i> When:</h2>
			<p>{{event.time.startDatetime | date:'longDate'}} &#64; {{event.time.startDatetime | date:'shortTime'}}</p>
			<h2><i class="fa fa-map-marker"></i> Where:</h2>
			<p>{{event.location}}</p>
			<button ng-click="linkRow(event.url)" ng-if="event.rsvp" class="btn btn-default">RSVP Here<em ng-if="!event.rsvp" class="btn btn-error">Closed</em></button>
			<!--<h2>RSVP:</h2><button ng-if="event.rsvp" class="text-success">Here<em ng-if="!event.rsvp" class="text-danger">Closed</em></button>-->
		</div>
	</div>
</div>
<div class="bump"></div>