::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}

.fond {
  position:relative;
  padding-top:20px;
  @media all and (min-width: 50em) {
    padding-top:35px;
  }
}

.party_block {
    cursor: pointer;
    display:inline-block;
    border:0;
    width:170px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    overflow: hidden;
    @media all and (min-width: 50em) {
       width:196px;
       margin: 0 10px;
    }
    &:nth-of-type(1){
      background-color: $pink;
      background: url(/assets/img/party_temp.jpg) top center no-repeat;
    }
    &:nth-of-type(2){
      background-color: $silver;
      background: url(/assets/img/party_temp.jpg) top center no-repeat;          
    }
    &:nth-of-type(3){
      background-color: $dutch;
      background: url(/assets/img/party_temp.jpg) top center no-repeat;
    }
    &:nth-of-type(4){
      background-color: $indepedence;
      background: url(/assets/img/party_temp.jpg) top center no-repeat;
    }
    &:hover {
      @media all and (min-width: 50em) {
        box-shadow: 0px 0px 25px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
      }
        > p {
          font-size: 25px;
          top: 170px;
          transition: all .3s ease-in;
        }
    }
    > p {
      position: relative;
      font-size: 20px;
      top: 175px;
      color: #fff;
      font-family: $accent-font;
    }
}