/*~~~~~~~~~~~ Slides ~~~~~~~~~~~~~~*/

.slick-slider {
	margin: 30px auto 50px;
}

.slick-prev {
	&:before{
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		content: "\f053";
		color: $black_olive;
	}
}
.slick-next {
	&:before{
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		content: "\f054";
		color: $black_olive;
	}
}