<div class="modal" ng-class="{'show': showForm}" ng-if="event.rsvp">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a type="button" class="close" ng-click="closeModal()" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
				<h4 class="modal-title">RSVP to {{event.title}}</h4>

				<div ng-include="'/ng-app/event-detail/eventInfoModal.tpl.html'"></div>
			</div>

			<form name="rsvpForm" novalidate>
				<div class="modal-body">
					<div class="row">
						<div class="form-group form-inline oneoftwo">
							<label for="name">Name:</label>
							<input id="name" type="text" class="form-control" placeholder="Name" name="name" ng-model="guest.name" required>

							<div ng-if="rsvpForm.name.$dirty && rsvpForm.name.$invalid" ng-messages="rsvpForm.name.$error" class="text-danger">
								<span ng-message="required">Name is required</span>
							</div>
						</div>

						<div class="form-group oneoftwo">
							<div class="switch-field">
								<input type="radio" name="attending" id="switch_left" ng-model="guest.attending" ng-value="true" required checked/>
								<label for="switch_left">Going</label>
								<input type="radio" name="attending" ng-model="guest.attending" ng-value="false" id="switch_right"/>
								<label for="switch_right">Can&#39;t Make It</label>
							</div>
						</div>
					</div>

					<div class="form-group form-inline" ng-show="guest.attending">
						<label for="guests">Number of Guests:</label>
						<input id="guests" name="guests" type="number" class="form-control" min="1" max="2" ng-model="guest.guests" ng-pattern="/^[1-2]$/"
							ng-required="guest.attending">

						<div ng-if="rsvpForm.guests.$dirty && rsvpForm.guests.$invalid" ng-messages="rsvpForm.guests.$error" class="text-danger">
							<span ng-message="required"># of guests required if attending</span>
							<span ng-message="pattern">Enter a number from 1-2</span>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<!--<button class="btn btn-default" ng-click="closeModal();">Cancel</button>-->
					<button class="btn btn-success" ng-click="processForm();" ng-disabled="rsvpForm.$invalid"><i class="fa fa-envelope-o"></i> Email RSVP</button>
				</div>
			</form>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->