<!--<registry-form event="event" show-form="showForm"></registry-form>-->
<div class="container item_list__flex">
	<div class="solid-bar"></div>
    <div ng-if="items && !items.length" class="alert alert-danger">
        <i class="fa fa-diamond"></i> Thank you!
    </div>
	<ul class="flex_container">
      <li ng-repeat="item in items" class="flex_item">
        <h4>{{item.title}}</h4>
        <h5>Gifted: {{item.gifted}}</h5>
        <p>{{item.description}}</p>
        <form name="{{item.id}}" id="{{item.id}}" action="/charge.php" method="POST">
            <input type="hidden" id="amount" name="amount" value="{{item.amount}}"/>
      </form>
      <button class="box_registry box__none" ng-click="OpenHandler(item.amount, item.id)"><span class="registry_button"><i class="fa fa-heart-o" aria-hidden="true"></i> Buy this gift</span></button>
		</li>
      <li class="flex_item flex_item__last">
        <h4>Fill in any amount below if you don't see anything</h4>
        <form id="customForm" name="registryForm5" action="/chargeCustom.php" method="POST">
            <input class="registry_input" type="number" id="amountCustom" name="amount"/>
      </form>
      <button class="box_registry__custom box__none" id="customButton5"><span class="registry_button"><i class="fa fa-heart" aria-hidden="true"></i> Create your own gift</span></button>
		</li>
	</ul>
    <p class="mail_hint">If Stripe isn't your cup of tea, you can use cash or a check instead! If you'll be joining us on the day of the wedding, you can bring it in person or send it to us by mail if you can't make it. In order to reserve your gift, please email <a href="mailto:kyle@kyle-lutes.com">kyle@kyle-lutes.com</a> with the gift name and amount, so we can update the website to make sure nobody else claims the gift you chose.</p>
</div>