<!--<registry-form event="event" show-form="showForm"></registry-form>-->
<div class="onecol item_list__flex">
	<div class="solid-bar"></div>
    <div ng-if="items && !items.length" class="alert alert-danger">
        <i class="fa fa-diamond"></i> Thank you!
    </div>
	<ul class="flex_container">
      <li ng-repeat="item in items" class="flex_item">
        <h4>{{item.title}}</h4>
        <p>{{item.description}}</p>
        <form name="{{item.id}}" action="/charge.php" method="POST">
            <input type="hidden" name="{{item.id}}" id="{{item.id}}" value="{{item.id}}"/>
            <input type="hidden" id="amount" name="amount" value="{{item.amount}}"/>
      </form>
      <button class="box_registry box__none" ng-click="OpenHandler(item.amount, item.id)"><span style="display: block; min-height: 30px;">Purchase</span></button>
		</li>
      <li class="flex_item flex_item__last">
        <h4>Fill in any amount below if you don't see anything</h4>
        <form name="registryForm5" action="/chargeCustom.php" method="POST">
            <input type="hidden" name="riL" id="riL" value="riL"/>
            <input class="registry_input" type="number" id="amountCustom" name="amount"/>
      </form>
      <button class="box_registry__custom box__none" id="customButton5"><span style="display:block; min-height:30px;">Purchase</span></button>
		</li>
	</ul>
</div>