/*~~~~~~~~~~~ Tools ~~~~~~~~~~~~~~*/

.tc {
    text-align: center;
}

.ti {
    color: #000;
}

.mtm {
    margin-top: 20px;
}

.mbm {
    margin-bottom: 20px;
}

.oneoftwo {
    @media all and (min-width: 50em) {
        width: 50%;
    }
}

.row {
    display: block;
}

.ptn {
    padding-top: 0px;
}