/*~~~~~~~~~~~ Tools ~~~~~~~~~~~~~~*/

.tc {
    text-align: center;
}

.mtm {
    margin-top: 20px;
}

.oneoftwo {
    @media all and (min-width: 50em) {
        width: 50%;
    }
}

.row {
    display: block;
}