<div class="container">
	<h1 class="tc">RSVP Here!</h1>

	<div ng-if="events && !events.length" class="alert alert-danger">
		<i class="fa fa-diamond"></i> We&#39;re Married!
	</div>

	<div ng-if="events && events.length">
		<div class="onecol event_list__flex" ng-repeat="event in events | orderBy:'time.startDatetime' | filter:query" ng-class="{'danger': !event.rsvp, 'text-muted': !event.rsvp}">
			<div class="solid-bar"></div>
			<ul class="flex_container">
				<li class="flex_item"><h3><i class="fa fa-calendar"></i> Where:</h3><p>{{event.location}}</p></li>
				<li ng-click="linkRow(event.url)" class="flex_item aside"></li>
				<li class="flex_item"><h3><i class="fa fa-map-marker"></i> When:</h3><p>{{event.time.startDatetime | date:'EEEE'}}, {{event.time.startDatetime | date:'longDate'}}</p><p>{{event.time.startDatetime | date:'shortTime'}}-{{event.time.endDatetime | date:'shortTime'}}</p></li>
			</ul>
		</div>
	</div>
</div>
<div class="bump"></div>